--
-- PostgreSQL database dump
--

\restrict ANPEpWpwAmy3dh5LJEDY1r5ONGtmCaCYeym8go3e5XdnkyrCSaLn6entWOe7jXF

-- Dumped from database version 17.9
-- Dumped by pg_dump version 17.9

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: atms; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.atms (
    id integer NOT NULL,
    lat double precision NOT NULL,
    lon double precision NOT NULL,
    capacity_in integer NOT NULL,
    capacity_out integer NOT NULL,
    mean_in double precision DEFAULT 0,
    std_in double precision DEFAULT 0,
    mean_out double precision DEFAULT 0,
    std_out double precision DEFAULT 0,
    current_in_level integer DEFAULT 0,
    current_out_level integer DEFAULT 0
);


ALTER TABLE public.atms OWNER TO postgres;

--
-- Name: atms_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.atms_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.atms_id_seq OWNER TO postgres;

--
-- Name: atms_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.atms_id_seq OWNED BY public.atms.id;


--
-- Name: routes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.routes (
    id integer NOT NULL,
    day integer NOT NULL,
    group_id integer NOT NULL,
    stops jsonb NOT NULL,
    total_time integer DEFAULT 0
);


ALTER TABLE public.routes OWNER TO postgres;

--
-- Name: routes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.routes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.routes_id_seq OWNER TO postgres;

--
-- Name: routes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.routes_id_seq OWNED BY public.routes.id;


--
-- Name: atms id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.atms ALTER COLUMN id SET DEFAULT nextval('public.atms_id_seq'::regclass);


--
-- Name: routes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.routes ALTER COLUMN id SET DEFAULT nextval('public.routes_id_seq'::regclass);


--
-- Data for Name: atms; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: routes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: atms_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.atms_id_seq', 2000, true);


--
-- Name: routes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.routes_id_seq', 9, true);


--
-- Name: atms atms_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.atms
    ADD CONSTRAINT atms_pkey PRIMARY KEY (id);


--
-- Name: routes routes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.routes
    ADD CONSTRAINT routes_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict ANPEpWpwAmy3dh5LJEDY1r5ONGtmCaCYeym8go3e5XdnkyrCSaLn6entWOe7jXF

